<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="blank">
            <file>tests/TowerTestCase.php</file>
            <file>tests/DeepFirstSearchTestCase.php</file>
            <file>tests/BreadthFirstSearchTestCase.php</file>
            <file>tests/HeuristicFirstSearchTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>